body {
  background-color: #eee;
  display: flex;
  font-family: 'Muli', sans-serif;
}
#root{
  margin: auto;
}
.contract2 {
  margin: 0 0 0 auto;
  display: block;
  padding: 40px;
  border: 1px solid #ddd;
  background-color: #fff;
  width: 31.9rem;
}

.textCenter{
  text-align: center;
}

.existing-contracts {
  margin: 0px;
  display: inline-block;
  padding: 0.6rem;
  border: 1px solid #ddd;
  background-color: #fff;
  vertical-align: text-bottom;
}

.contract {
  margin: 0 20px;
  display: inline-block;
  padding: 40px;
  border: 1px solid #ddd;
  background-color: #fff;
}
/* Add this to your App.css or equivalent */
.container {
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  max-width: 600px;
  
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

input {
  padding: 8px;
  margin-bottom: 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}


h1 {
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

label {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: #aaa;
  margin: 20px;
}

input[type="text"] {
  padding: 6px;
  font-size: 18px;
}

.button {
  background-color: #6427f5;
  color: white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px;
  padding: 9px 25px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
}

.existing-contract ul {
  padding: 10px;
  margin: 20px;
  background-color: #eee;
}

.existing-contract ul > li {
  list-style: none;
  display: flex;
  margin: 10px;
}

.existing-contract ul > li > div {
  margin: 0 5px;
}

.existing-contract ul > li > :first-child {
  font-weight: bold;
}

.existing-contract .complete {
  color: #5aa75a;
  text-align: center;
}
